@charset "utf-8";
/* CSS Document */

*, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box;}
/*body {font-size: 15px; font-family:  Verdana, Geneva, sans-serif, sans-serif; margin: 0 auto; }

		/* You can safely remove the next two lines */
.top { padding-right: 20px; background: #261F41; text-align: right; }
a { color: rgba(255,255,255,0.6); text-transform: uppercase; text-decoration: none; line-height: 42px; }

/*h1 {padding: 100px 0; font-weight: 400; text-align: center;}*/
p {margin: 0 0 20px; line-height: 1.5;}

.main {margin: 0 auto; width:100%;}
.labs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	background:#2c3e50;
	border-bottom: 5px #e67e22 solid;
}
.labs_content {background: #fff; color: #333;}
.labs_content > div {
	display: none;
	padding: 20px 25px 5px;}

input {display: none; }

label {display: inline-block; padding: 15px 25px; font-weight: 600; text-align: center; color:#fff}


label:hover {color: #fff; cursor: pointer; background:#d35400;}
input:checked + label {background: #e67e22;	color: #FFF;}

#lab1:checked ~ .labs_content #content1,
#lab2:checked ~ .labs_content #content2,
#lab3:checked ~ .labs_content #content3,
#lab4:checked ~ .labs_content #content4 {
		  display: block;
		}

@media screen and (max-width: 400px) { label {padding: 15px 10px;} }
